{
  "presets": [
    "poi"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel",
    "lodash",
    ["module-resolver", {
      "root": ["./"]
    }]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
